MainMenuScreen {
    align: center middle;
}

.logo {
    width: 100%;
    color: $secondary;
    text-style: bold;
    text-align: center;
}

.subtitle-container {
    padding-top: 2;
    width: 100%;
    align: center middle;
    color: $secondary;
    text-style: bold;
}

.subtitle-link {
    color: $accent;
}

.menu-buttons-container {
    width: 100%;
    padding-top: 3;
    align-horizontal: center;
}

.menu-buttons-container Button {
    margin: 0 1;
}